# Proyecto del D铆a 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar informaci贸n valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lecci贸n. El archivo incluir谩 informaci贸n como *fecha de venta*, *categor铆a de producto*, *cantidad vendida* y *precio*.
2. **Fusi贸n de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (tambi茅n provisto en esta lecci贸n), y concat茅nalos para tener un solo dataFrame con toda la informaci贸n.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deber谩s realizar tareas como limpieza de datos, filtrado y  transformaciones b谩sicas.
4. **An谩lisis de Ventas**: Realiza an谩lisis para responder preguntas como:
- 驴Cu谩l es el producto m谩s vendido?
- 驴Cu谩l es el mes con m谩s ventas?
5. **Datos Agrupados**: Agrupa los datos por categor铆a de producto y analiza las ventas por categor铆a.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

**Lectura de Datos: Crea un DataFrame que contenga los datos provistos en el archivo Datos_Ventas_Tienda.csv provisto en esta lecci贸n. El archivo incluir谩 informaci贸n como fecha de venta, categor铆a de producto, cantidad vendida y precio**

In [1]:
import pandas as pd

df1 = pd.read_csv('datosTienda.csv')
df2 = pd.read_csv('datosTienda2.csv')

In [2]:
df1.head()

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electr贸nic         7              200         1400
1   9/1/2023  Electr贸nic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electr贸nic         6              200         1200

In [3]:
df2.head()

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   8/25/2023  Electr贸nic         5              200         1000
1   8/14/2023   Alimentos         9               10           90
2   8/30/2023        Ropa         6               50          300
3   11/9/2023   Alimentos         2               10           20
4  10/26/2023        Ropa         8               50          400

**Fusi贸n de Datos: Crea un segundo DataFrame que contenga los datos del archivo Datos_Ventas_Tienda2.csv (tambi茅n provisto en esta lecci贸n), y concat茅nalos para tener un solo dataFrame con toda la informaci贸n.**

In [4]:
df = pd.concat([df1, df2])
df

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   1/17/2023  Electr贸nic         7              200         1400
1    9/1/2023  Electr贸nic         8              200         1600
2   7/29/2023    Juguetes         3               30           90
3   10/4/2023   Alimentos         4               10           40
4   2/28/2023  Electr贸nic         6              200         1200
..        ...         ...       ...              ...          ...
45  9/11/2023    Juguetes        10               30          300
46   1/3/2023    Juguetes        10               30          300
47  11/7/2023   Alimentos         3               10           30
48  8/20/2023  Electr贸nic         6              200         1200
49  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

**Tratamiento de Datos: Utiliza Pandas para manipular estos datos. Deber谩s realizar tareas como limpieza de datos, filtrado y transformaciones b谩sicas.**

In [5]:
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%m/%d/%Y')

In [6]:
df

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  2023-01-17  Electr贸nic         7              200         1400
1  2023-09-01  Electr贸nic         8              200         1600
2  2023-07-29    Juguetes         3               30           90
3  2023-10-04   Alimentos         4               10           40
4  2023-02-28  Electr贸nic         6              200         1200
..        ...         ...       ...              ...          ...
45 2023-09-11    Juguetes        10               30          300
46 2023-01-03    Juguetes        10               30          300
47 2023-11-07   Alimentos         3               10           30
48 2023-08-20  Electr贸nic         6              200         1200
49 2023-07-21    Juguetes         3               30           90

[1050 rows x 5 columns]

In [7]:
df_agrupado = df.groupby('Producto')['Total Venta'].mean()
df_agrupado

Producto
Alimentos       56.339286
Electr贸nic    1074.889868
Juguetes       162.087379
Libros         107.422680
Ropa           283.417085
Name: Total Venta, dtype: float64

**An谩lisis de Ventas: Realiza an谩lisis para responder preguntas como:**


1. 驴Cu谩l es el producto m谩s vendido?

2. 驴Cu谩l es el mes con m谩s ventas?

In [24]:
# Paso 1: Obtener el valor m谩ximo
valor_max = df['Total Venta'].max()

# Paso 2: Filas que tienen ese valor m谩ximo
filas_max = df[df['Total Venta'] == valor_max]

# Paso 3: Imprimir detalles claros
print("\n Producto(s) con la venta m谩s alta del DataFrame:")
for idx, fila in filas_max.iterrows():
    print(f"ndice: {idx}, Producto: {fila['Producto']}, Total Venta: {fila['Total Venta']}")

 Producto(s) con la venta m谩s alta del DataFrame:
ndice: 21, Producto: Electr贸nic, Total Venta: 2000
ndice: 41, Producto: Electr贸nic, Total Venta: 2000
ndice: 47, Producto: Electr贸nic, Total Venta: 2000
ndice: 66, Producto: Electr贸nic, Total Venta: 2000
ndice: 87, Producto: Electr贸nic, Total Venta: 2000
ndice: 200, Producto: Electr贸nic, Total Venta: 2000
ndice: 202, Producto: Electr贸nic, Total Venta: 2000
ndice: 318, Producto: Electr贸nic, Total Venta: 2000
ndice: 348, Producto: Electr贸nic, Total Venta: 2000
ndice: 359, Producto: Electr贸nic, Total Venta: 2000
ndice: 417, Producto: Electr贸nic, Total Venta: 2000
ndice: 433, Producto: Electr贸nic, Total Venta: 2000
ndice: 456, Producto: Electr贸nic, Total Venta: 2000
ndice: 517, Producto: Electr贸nic, Total Venta: 2000
ndice: 530, Producto: Electr贸nic, Total Venta: 2000
ndice: 547, Producto: Electr贸nic, Total Venta: 2000
ndice: 553, Producto: Electr贸nic, Total Venta: 2000
ndice: 583, Producto: Electr贸nic, Total Venta: 2000
ndice: 976, Producto: Electr贸nic, Total Venta: 2000

In [25]:
# Paso 1: Asegurarnos de que la columna 'Fecha' sea de tipo datetime
df['Fecha'] = pd.to_datetime(df['Fecha'])

# Paso 2: Crear una nueva columna con el mes en formato YYYY-MM
df['Mes'] = df['Fecha'].dt.to_period('M').astype(str)

# Paso 3: Agrupar por mes y calcular la suma de "Total Venta"
ventas_por_mes = df.groupby('Mes')['Total Venta'].sum().reset_index()

# Paso 4: Obtener el valor m谩ximo y las filas correspondientes
valor_max = ventas_por_mes['Total Venta'].max()
meses_max = ventas_por_mes[ventas_por_mes['Total Venta'] == valor_max]

# Paso 5: Imprimir resultados legibles
print("\n Mes(es) con la mayor suma de ventas:")
for _, fila in meses_max.iterrows():
    print(f"Mes: {fila['Mes']}, Total Venta: {fila['Total Venta']}")

 Mes(es) con la mayor suma de ventas:
Mes: 2023-08, Total Venta: 45090

**Datos Agrupados: Agrupa los datos por categor铆a de producto y analiza las ventas por categor铆a.**

In [28]:
df['Producto'].unique()

array(['Electr贸nic', 'Juguetes', 'Alimentos', 'Ropa', 'Libros'],
      dtype=object)

In [29]:
df_agrupado = df.groupby('Producto')['Total Venta'].sum()
df_agrupado

Producto
Alimentos      12620
Electr贸nic    244000
Juguetes       33390
Libros         20840
Ropa           56400
Name: Total Venta, dtype: int64

In [30]:
df_agrupado = df.groupby('Producto')['Total Venta'].describe()
df_agrupado

,count,mean,std,min,25%,50%,75%,max
Producto,,,,,,,,
Alimentos,224.0,56.339286,29.737130,10.0,30.0,60.0,80.0,100.0
Electr贸nic,227.0,1074.889868,559.894397,200.0,600.0,1000.0,1600.0,2000.0
Juguetes,206.0,162.087379,86.379831,30.0,90.0,150.0,240.0,300.0
Libros,194.0,107.422680,57.283557,20.0,60.0,100.0,160.0,200.0
Ropa,199.0,283.417085,145.301435,50.0,150.0,300.0,400.0,500.0

**Guardar Resultados: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.**

In [31]:
df.to_excel('dataFrameProyecto2.xlsx')